.layout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  .title {
    display: flex;
    font-size: 0;
    justify-content: center;
    width: 100%;
    img {
      height: auto;
      max-width: 350px;
      width: 90%;
    }
  }
}

.search {
  align-self: center;
  max-width: 250px;
  width: 100%;
}

.list {
  padding: 0 1.75rem;
}

.favorites {
  bottom: 0;
  left: 50%;
  max-width: 200px;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
}
