@use "@styles/mixins/responsive";

.appBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100vw;
  @include responsive.apply(md) {
    justify-content: center;
  }
}

.background {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  .backgroundImage {
    height: 100%;
    max-width: var(--Grid-xxl);
    object-fit: cover;
    object-position: -4.5rem bottom;
    position: relative;
    width: 100%;
    z-index: 1;
  }
}

.appContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
  .appContent {
    min-height: calc(100vh - 52px - env(safe-area-inset-bottom));
    overflow: auto;
    padding: 2rem 1rem;
    width: 100%;
  }
  @include responsive.apply(md) {
    z-index: 5;
    .appContent {
      background-color: var(--Color-gray-100);
      border: 1px solid var(--Color-black);
      border-radius: 1rem;
      height: calc(100vh - 4rem);
      max-height: 720px;
      max-width: var(--Grid-lg);
      min-height: auto;
      padding: 0;
      position: relative;
      width: 90%;
      z-index: 5;
    }
  }
}

.footer {
  background: linear-gradient(
    to bottom,
    var(--Color-green-500),
    var(--Color-green-400)
  );
  bottom: 0;
  content: "";
  display: block;
  height: 52px;
  min-height: 52px;
  position: relative;
  width: 100%;
  z-index: 2;
  @include responsive.apply(md) {
    height: 120px;
    position: absolute;
  }
}
