@use "./colors" as *;
@use "./reset" as *;
@use "./variables.scss" as *;

html {
  font-size: 16px;
}

body {
  background-color: var(--Color-black);
  color: var(--Color-white);
  font-family: var(--Font-family);
  font-size: 1rem;
  font-weight: 400;
}
