@use "@styles/mixins/responsive";

.detail {
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include responsive.apply(md) {
    border-radius: 0;
    height: 100%;
  }
}

.status {
  align-items: center;
  background-color: var(--Color-gray-200);
  border-radius: 0.75rem;
  color: var(--Color-white);
  display: flex;
  gap: 0.5rem;
  left: 1rem;
  min-width: 110px;
  padding: 0.25rem 0.5rem;
  position: absolute;
  text-transform: uppercase;
  top: 1rem;
  z-index: 5;

  &:before {
    background: radial-gradient(
      circle,
      var(--Color-red-500),
      var(--Color-red-100),
      var(--Color-red-100)
    );
    border-radius: 0.75rem;
    content: "";
    height: 1rem;
    width: 1rem;
  }

  &[class*="detail-status__Alive"] {
    &:before {
      background: radial-gradient(
        circle,
        var(--Color-yellow-500),
        var(--Color-green-400)
      );
    }
  }

  @include responsive.apply(md) {
    left: 1.5rem;
    top: 3rem;
  }
}

.image {
  aspect-ratio: 1/1;
  position: relative;
  width: 100%;
  z-index: 1;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &::before {
    box-shadow: inset 1rem 1rem 2.5rem var(--Color-gray-100);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include responsive.apply(md) {
    aspect-ratio: unset;
    height: 100%;

    &::before {
      box-shadow: inset -1rem 1rem 2.5rem var(--Color-gray-100);
    }
  }
}

.info {
  bottom: 0;
  font-size: 0.875rem;
  left: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 5;
  width: 100%;
  & > * {
    position: relative;
    z-index: 2;
  }
  &::before {
    background-color: var(--Color-black);
    content: "";
    left: 0;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .name {
    color: var(--Color-green-500);
    font-size: 1.25rem;
    font-weight: 400;
  }

  @include responsive.apply(md) {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    &::before {
      opacity: 0.6;
    }
  }
}

.data {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
  p {
    display: flex;
    flex-direction: column;
    span {
      color: var(--Color-green-500);
    }
  }

  @include responsive.apply(md) {
    justify-content: space-around;
    p {
      span {
        font-size: 1.25rem;
      }
    }
  }
}
